@model IEnumerable<BookStore.Models.Book>;

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Photo</th>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td><a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="AddBook" 
                       asp-route-bookId="@book.Id" asp-route-returnUrl="@Context.Request.Path">Добавить в корзину</a></td>
            </tr>
        }
    </tbody>
</table>

